# Auto Malfunction Detection Of Air Conditioner In Train Control Room


William Xu
## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
    <ul>
            <li><a href="#gather">Gathering Data</a></li>
            <li><a href="#assess">Assessing/Cleaning Data</a></li>
    </ul>
<li><a href="#algorithm">Algorithm</a></li>
<li><a href="#final_function">Final Function</a></li>
    <ul>
            <li><a href="#testing_tool">Testing Tool</a></li>
    </ul>  
</ul>

<a id='intro'></a>
## Introduction

> The goal of the project is to algorithmically detect and predict air conditioning malfunction through room temperatures and outdoor temperatures data over time.

In [1]:
#import library
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta

<a id='gather'></a>
## Gathering Data
> <b>In this part, we will gather two parts of data</b>
<ol>
    <li>Loading two datasets. 
        <ul>
            <li><b>outdoor-temperature-20220815-.csv:</b> stores the outdoor temperature in 15 minute increments. </li>
            <li><b>train-control-room-temperature-20220815.csv:</b> stores the train control room temperature in 15 minute increments. </li>
        </ul>
    <li>Import given BART's rail track diagram. 
        <ul>
            <li><b>BART-tracks-dashboard-map.png:</b> BART's rail track diagram.</li>
        </ul>
    <li>Access json txt file and save as a dataframe. This json file stores the real bart location. It should be downloaded at the following URL: <a href="https://api.bart.gov/docs/stn/stns.aspx">https://api.bart.gov/docs/stn/stns.aspx</a></li>
</ol>

In [4]:
#load the data
outdoor = pd.read_csv(r"/Users/william/Desktop/aurora/Nerd/bart/outdoor-temperature-20220601-0912.csv.zip")

indoor = pd.read_csv(r"/Users/william/Desktop/aurora/Nerd/bart/indoor-temperature-20220601-0912.csv.zip")
indoor['Source'] = 'Indoor'
indoor['Location'] = indoor['Location'].str[:3]

outdoor.head()

                          _time Location  Temperature
0  2022-09-12T23:58:42.000-0700      A20         61.0
1  2022-09-12T23:35:01.000-0700      W10         58.0
2  2022-09-12T23:33:43.000-0700      C50         63.0
3  2022-09-12T23:32:55.000-0700      C70         64.0
4  2022-09-12T23:32:39.000-0700      Y10         61.0

In [5]:
indoor.head()

                          _time Temperature Location  Source
0  2022-09-12T23:22:01.000-0700        75.5      Y10  Indoor
1  2022-09-12T23:22:01.000-0700        77.1      W40  Indoor
2  2022-09-12T23:22:01.000-0700        75.2      W34  Indoor
3  2022-09-12T23:22:01.000-0700        71.9      W20  Indoor
4  2022-09-12T23:22:01.000-0700        73.1      W10  Indoor

In [6]:
import altair as alt
alt.data_transformers.disable_max_rows()
alt.renderers.enable('jupyterlab')

RendererRegistry.enable('jupyterlab')

to enable Altair to plot for more than 5000 rows.

## Polts of Outdoor Temperatures at Different Locations

In [ ]:
alt.Chart(outdoor).mark_line().encode(
    x='_time:T',
    y=alt.Y("Temperature:Q", scale=alt.Scale(domain=[55, 110]))
).facet(
    'Location:N',
    columns = 6
)

## CHALLENGE: Prase dates such that they appear in datetime format in 15 minute increments